html {
    background-color: #f8f1f1 ;
}

h1 {
    color: black;
    text-align: center;
}

.soap-note-section {
    background-color: #5eaaa8;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 10px;
}

#result {
    height: 500px;
    width: 70%;
    display: block;
    margin: 60px auto 60px auto;
    padding: 20px;
}

#submit {
    width: 20%;
    height: 50px;
    font-size: 1.25rem;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #5eaaa8;
    border-style: none;
    color: white;
}

#submit:hover {
    background: #db6400;
}